<launch>
  <arg name="SPV_model" default="optimist" doc="SPV model type [default, argus, rgbd, camera]"/>

  <arg name="USE_MODE_RGBD" default="true"/>
  <arg name="USE_MODE_GAZEBO" default="true"/>
  <arg name="USE_MODE_SLAM" default="false"/>
  <arg name="USE_MODE_STAIR" default="false"/>
  <arg name="USE_MODE_NAVIGATION" default="true"/>
  <!-- <arg name="USE_MODE_DOOR" default="true"/> -->
  <arg name="USE_ASSISTANT_MODE" default="1"/>


  <arg name="USE_CAMERA_FROM_TOPIC" default="true"/>
  <arg name="USE_SPV_FROM_CAMERA" default="true"/>
  <arg name="SET_SAVE_IMG_PATH" default="/home/aleks"/>

  <node pkg="raspv" type="SPV" name="SPV_node" output="screen">

    <!-- 1. Kitchen -->
    <param name="goal_x_1" type="double" value="5.0"/>
    <param name="goal_y_1" type="double" value="-4.4"/>
    <param name="goal_yaw_1" type="double" value="0.0"/>
    <param name="goal_width_1" type="double" value="0.9"/>
    <param name="goal_height_1" type="double" value="2.0"/>

    <!-- 2. Bathroom -->
    <param name="goal_x_2" type="double" value="7.2"/>
    <param name="goal_y_2" type="double" value="-4.4"/>
    <param name="goal_yaw_2" type="double" value="0.0"/>
    <param name="goal_width_2" type="double" value="0.9"/>
    <param name="goal_height_2" type="double" value="2.0"/>

    <!-- 3. Bedroom -->
    <param name="goal_x_3" type="double" value="3.2"/>
    <param name="goal_y_3" type="double" value="-3.3"/>
    <param name="goal_yaw_3" type="double" value="1.5708"/>
    <param name="goal_width_3" type="double" value="0.90"/>
    <param name="goal_height_3" type="double" value="2.0"/>

    <!-- 4. Table -->
    <param name="goal_x_4" type="double" value="5.0"/>
    <param name="goal_y_4" type="double" value="-2.3"/>
    <param name="goal_yaw_4" type="double" value="0.0"/>
    <param name="goal_width_4" type="double" value="1.15"/>
    <param name="goal_height_4" type="double" value="0.75"/>

    <!-- 5. Office chair -->
    <param name="goal_x_5" type="double" value="4.0"/>
    <param name="goal_y_5" type="double" value="-0.9"/>
    <param name="goal_yaw_5" type="double" value="-0.785"/>
    <param name="goal_width_5" type="double" value="0.4"/>
    <param name="goal_height_5" type="double" value="0.45"/>

    <!-- 6. Dish -->
    <param name="goal_x_6" type="double" value="5.0"/>
    <param name="goal_y_6" type="double" value="-1.4"/>
    <param name="goal_yaw_6" type="double" value="0.0"/>
    <param name="goal_width_6" type="double" value="0.3"/>
    <param name="goal_height_6" type="double" value="0.75"/>



    <param name="MODE_RGBD" type="bool" value="$(arg USE_MODE_RGBD)"/>
    <param name="MODE_GAZEBO" type="bool" value="$(arg USE_MODE_GAZEBO)"/>
    <param name="MODE_SLAM" type="bool" value="$(arg USE_MODE_SLAM)"/>
    <param name="MODE_STAIR" type="bool" value="$(arg USE_MODE_STAIR)"/>
    <param name="MODE_NAVIGATION" type="bool" value="$(arg USE_MODE_NAVIGATION)"/>
    <!-- <param name="MODE_DOOR" type="bool" value="$(arg USE_MODE_DOOR)"/> -->
    <!-- <param name="MODE_DOOR_FIRST" type="bool" value="true"/> -->
    <param name="ASSISTANT_MODE" type="int" value="$(arg USE_ASSISTANT_MODE)"/>

    <param name="CAMERA_FROM_TOPIC" type="bool" value="$(arg USE_CAMERA_FROM_TOPIC)"/>
    <param name="SPV_FROM_CAMERA" type="bool" value="$(arg USE_SPV_FROM_CAMERA)" />
    <param name="SAVE_IMG_PATH" type="string" value="$(arg SET_SAVE_IMG_PATH)" />

    <rosparam file="$(find raspv)/config/devices/$(arg SPV_model).yaml" command="load" />
    <rosparam file="$(find raspv)/config/display.yaml" command="load" />
    <rosparam file="$(find raspv)/config/representation.yaml" command="load" />
    <rosparam file="$(find raspv)/config/default_camera.yaml" command="load" />
    <!--param name="PACKAGE_PATH" value="/home/melani/rgbd_ws/src/rgbd_via/" /-->
  </node>




</launch>
